fastapi
uvicorn[standard]
pydantic
pandas
numpy
plotly
kaleido
pytest
pytest-cov
ruff
httpx
duckdb
ollama
python-pptx
python-jose[cryptography]
passlib[bcrypt]
cryptography
crewai
crewai-tools
langchain
langchain-community
langchain-chroma
langchain-core
langgraph
sentence-transformers
langchain-huggingface
pypdf2
python-multipart
pandas
openpyxl
prometheus-fastapi-instrumentator
python-json-logger
clickhouse-connect
openpyxl
apscheduler
pdfplumber
sqlglot
openai
google-genai
minio
python-docx
